* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-shadow: 0000;
}
.contact {
  display: flex;
  margin: 10rem auto;
  border-radius: 1rem;
  background-color: rgb(187, 3, 3);
  max-width: 50rem;
  padding: 3rem;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.informations {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}
h3 {
  color: white;
  margin-bottom: 1rem;
}
.informations button {
  background-color: #0a125e;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  color: white;
  border-radius: 1rem;
  padding: 5px 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.301) 0 6px 6px 0;
}
.informations button:hover,
.informations a:hover {
  background-color: white;
  color: #0a125e;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infos a {
  color:currentColor;
  text-decoration: none;
}

form a {
  font-size: 0.8rem;
  color: white;
  text-decoration-line: none;
}
p {
  font-size: 0.8rem;
}
.line {
  border-left: 1px solid white;
  margin-left: 1rem;
  margin-right: 1rem;
}
/* Centrer le bouton "Envoyer" */
.contact input[type="submit"] {
  margin-left: 19rem;
  font-family: "montserrat", sans-serif;
  padding: 10px 20px;
  background-color: #0a125e;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.301) 0 6px 6px 0;
}
form {
  border-radius: 0.5rem;
  color: white;
  padding: 3rem;
  background-color: #173636;
  height: auto;
  /*width: 100%;*/
  max-width: 40rem;
  margin: 7.5rem 10rem 0 30rem;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

label {
  color: white;
  text-align: center;
  display: block;
}

.form input[type="text"],
input[type="email"],
textarea {
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border: solid;
  border-color: #00000021;
}

.form input[type="message"],
textarea {
  font-family: "Montserrat", sans-serif;
  border-color: #00000021;
  width: 100%;
  padding-bottom: 15vh;
  margin: 10px;
  box-sizing: border-box; /* Pour inclure le padding et le border dans la largeur totale */
}
@media screen and (max-width: 768px) {
  .contact {
    margin: 10rem auto;
    /* margin-left: 0; */
    max-width: 90%;
    padding: 2rem;
  }

  /* Mettre les infos en colonne */
  .informations {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
  }
  .line {
    height: 5rem;
    /* border-top: 1px solid white; */
    border-left: 1px solid white;
    /* width: 4rem; */
    /* margin-top: 1rem;*/
  }

  /* Ajuster la taille du formulaire */
  form {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 90%;
  }

  /* Centrer le bouton d'envoi */
  .contact input[type="submit"] {
    margin-left: 0;
    width: 100%;
  }

  /* Ajuster la taille des champs de formulaire */
  .form input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
}

/* Responsive pour les écrans de moins de 390px */
@media screen and (max-width: 390px) {
  .contact {
    padding: 1.5rem;
  }
  .informations {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .line {
    margin-top: 1rem;
    height: 1.1rem;
    width: 13rem;
    border-top: 1px solid white;
    border-left: none;
  }
  .form {
    margin: 0;
    width: 270px;
  }

  .contact input[type="submit"] {
    font-size: 0.9rem;
    margin: 0.5rem;
  }
}
